@using TravelTripProje.Models.Sınıflar
@model List<Hakkimda>
@{
    ViewBag.Title = "HakkimdaListe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Sayfası</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>FotoUrl</th>
        <th>Açıklama</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.FotoUrl</td>
            <td>@x.Aciklama</td>
            <td><a href="/Admin/HakkimdaBul/@x.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>