
@{
    ViewBag.Title = "MesajEkle";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content-form">
<h3 style="color:steelblue;font-size:25px">İletişime geçmek için lütfen mesaj bırakın...</h3>
<br />
<form method="post">

    <input type="text" class="form-control" placeholder="Ad Soyad" name="AdSoyad" required />
    <br />
    <input type="text" class="form-control" placeholder="Mail" name="Mail" required />
    <br />
    <input type="text" class="form-control" placeholder="Konu" name="Konu" required />
    <br />
    <textarea class="form-control" placeholder="Mesaj" name="Mesaj"></textarea>
    <br />
    <input class="btn btn-info" type="submit" value="Gönder" />

</form>
</div>